<div id="<%= dom_id gloss %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Text:</strong>
    <%= gloss.text %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Word:</strong>
    <%= gloss.word_id %>
  </div>
</div>
