<div id="<%= dom_id deck %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= deck.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= deck.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= deck.user_id %>
  </div>
</div>
